html, body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: right;
}

h2 { 
  text-align: right;
}

h3 {  
  text-align: left;
} 

h4 {
}

img {
  width: 100%;
}

.link {

}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.row {
  width: 100%;
}

.col-2 {
  float: left;
  width: 20%;
}

.col-4 {
  float: left;
  width: 30%;
  margin-right: 48px;
}

.col-10 {
  float: left;
  width: 80%;
}

.header-text {
  font-family: helvetica;
  /*font-size:; 
  font-weight:;*/
}

.github-image {
  width: 76%;
}

.col-4:last-child { 
  margin-right: 0;
  text-align: center;
}

.with-border {
  border-bottom: 3px solid gray;
  overflow: auto;
  padding-bottom: 12px;
  margin-bottom: 33px;
}
