html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

img {
  width: 100%;
}

a {
  color: #f08080;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 20px;
}

.row {
  width: 100%;
}

.col-2 {
  float: left;
  width: 20%;
}

.col-4 {
  text-align: center;
  width: 100%;
}

.col-4:last-child { 
  margin-right: 0;
  text-align: center;
}

.col-4 h4 {
  text-align: center;
}

.col-4 img {
  border-radius: 50%;
  margin: 0 auto;
  width: 70%;
}

.col-10 {
  float: left;
  width: 80%;
}

.coral-rose {
  width: 65%;
  border-radius: 50%;
  margin: 0 auto;
}

.github-image {
  width: 76%;
}

.link {
  text-decoration: none;
}

.with-border {
  border-bottom: 3px solid #bf6565;
  overflow: auto;
  padding-bottom: 12px;
  margin-bottom: 33px;
}

.header-text {
  text-align: right;
  display: block;
}

@media screen and (min-device-width: 1200px) { 
  .col-4 {
    float: left;
    margin-right: 48px;
    width: 30%;
}
